body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 251, 255);
}

#menu_id {
    height: 32px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    background-color: rgb(0, 162, 255);
}
#ol_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    display:inline-block;
}
#ol_menu li {
    padding: 5px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    display: inline-block;
}
#ol_menu li:focus, #ol_menu li:hover {
    background-color: #002fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    cursor: pointer;
}
.link_in_menu {
    text-decoration:none;
    color: white;
}
.div_item {
    margin: 5px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: #000;
    background-color: rgb(255, 255, 255);
    width: 98%;
}

h3 {
    color: #002fff;
    font-weight: 800;
}
h4 {
    color: #274fff;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}
table thead tr {
    background-color: rgb(0, 162, 255); 
    color: #ffffff; 
    text-align: left;
    font-weight: bold;
}
table th,
table td {
    padding: 8px 10px; 
    border:#919191 3px solid; 
}
table tbody tr:hover {
    background-color: #ddd; 
}

label {
    font-weight: 530;
}

input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    width: 100px;
    background-color: #002fff;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.1s ease;
}

.animated_button:hover {
    background-color: #0056b3;
}
.animated_button:active {
    transform: scale(0.95);
}
