#menu_id {
    height: 32px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    background-color: rgb(0, 162, 255);
}
#ol_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    display:inline-block;
}
#ol_menu li {
    padding: 5px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    display: inline-block;
}
#ol_menu li:focus, #ol_menu li:hover {
    background-color: #002fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    cursor: pointer;
}
.link_in_menu {
    text-decoration:none;
    color: white;
}